a#github {
    font-size: 0;
    border-radius: 50%;
}

a#github:focus {
    outline: solid 2px #ccc;
}

img#github-link {
    width: 50px;
    height: 50px;
    transition: filter 0.2s, transform 0.2s, width 0.2s, height 0.2s;
    transform: translateY(-.5px);
}

img#github-link:hover {
    filter: invert(0.3);
}

img#github-link:active, img#github-link:focus {
    outline: none;
    transform: translateY(-.5px) scale(0.95);
}

img#github-link:focus {
    outline: none;
}

@media (prefers-color-scheme: dark) {
    img#github-link {
        filter: invert(1);
    }

    img#github-link:hover {
        filter: invert(0.7);
    }
}

div#header.small > div.header-section > a#github > img#github-link {
    width: 35px;
    height: 35px;
}