:root {
    --error-background: #f9dfdd;
    --warning-background: #fff4db;
    --confirmation-background: #e1eddb;
    --information-background: #d9ebf7;

    --error-fill: #d52b1e;
    --warning-fill: #ffb612;
    --confirmation-fill: #39870C;
    --information-fill: #007CC8;

    --error-icon: url("/web/assets/icons/error.svg");
    --warning-icon: url("/web/assets/icons/warning.svg");
    --confirmation-icon: url("/web/assets/icons/confirmation.svg");
    --information-icon: url("/web/assets/icons/information.svg");
    --loading-icon: url("/web/assets/icons/loading.svg");
}

div#info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: 0 auto;
}

div#info {
    width: 600px;
    min-width: fit-content;
    height: 100px;
    margin: 1em;
    padding-left: 16px;
    border-radius: 4px;

    border-left: 4px solid var(--icon-fill);

    text-align: left;

    background-color: var(--icon-background);
}

div#info > p {
    font-size: 1.1em;
    color: black;
    position: relative;
    top: 22.5%;
    left: 80px;
}

div#info > p::before {
    content: "";
    background-image: var(--icon-file);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    font-size: 1.5em;
    position: absolute;
    left: -3.125em;
    top: -1em;
    border: 5px solid var(--icon-fill);
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    padding: 0.5em;
    transform: scale(0.8);
}

/* Type styles */
div#info.error {
    --icon-background: var(--error-background);
    --icon-fill: var(--error-fill);
    --icon-file: var(--error-icon);
}

div#info.warning {
    --icon-background: var(--warning-background);
    --icon-fill: var(--warning-fill);
    --icon-file: var(--warning-icon);
}

div#info.confirmation {
    --icon-background: var(--confirmation-background);
    --icon-fill: var(--confirmation-fill);
    --icon-file: var(--confirmation-icon);
}

div#info.information {
    --icon-background: var(--information-background);
    --icon-fill: var(--information-fill);
    --icon-file: var(--information-icon);
}

div#info.loading {
    --icon-background: var(--information-background);
    --icon-fill: var(--information-fill);
    --icon-file: var(--loading-icon);
}

div#info.loading > p::before {
    color: #00000000;
    animation: spinner 0.8s infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg) scale(0.8);
    }
    100% {
        transform: rotate(180deg) scale(0.8);
    }
}